{% extends 'movies/base.html' %}

{% block title %}Главная - CinemaLab{% endblock %}

{% block content %}
<h1>🎬 Сейчас в прокате</h1>

<div class="info-card">
    <form method="get" >
        <!-- поле поиска -->
        <input type="text" name="q" placeholder="Поиск фильма..." value="{{ query|default:'' }}">

        <!-- выбор сортировки -->
        <select name="sort">
            <option value="">Сортировать по...</option>
            <option value="rating">Лучший рейтинг</option>
            <option value="new">Сначала новые</option>
            <option value="old">Сначала старые</option>
        </select>

        <button type="submit">
            Найти
        </button>

        <!-- Ссылка, чтобы сбросить фильтры -->
        <a href="/" >Сбросить</a>
    </form>
</div>

{% if is_staff %}
    <div class="info-card">
        <p>📊 <strong>Статистика кинотеатра (NumPy):</strong></p>
        <ul>
            <li>Всего фильмов: {{ stats.total_count }}</li>
            <li>Средний рейтинг: {{ stats.average_rating|floatformat:1 }} ⭐</li>

            <li>Медиана рейтинга: {{ stats.median_rating|floatformat:1 }} ⭐</li>
            <li>Самый частый рейтинг (мода): {{ stats.mode_rating|floatformat:1 }} ⭐</li>
        </ul>

        <hr>

        <h4>📊 График (Matplotlib):</h4>
        {% if graph %}
        <img src="data:image/png;base64,{{ graph }}" alt="Matplotlib Graph">
        {% endif %}
    </div>
{% endif %}


{% for movie in movies %}
<div class="movie-card">
    <h2><a href="{% url 'movie_detail' movie.id %}" >{{ movie.title }}</a></h2>
    <p><strong>Год:</strong> {{ movie.data }} | <strong>Страна:</strong> {{ movie.country }}</p>
    <p><strong>Жанр:</strong> {{ movie.genre.name }}</p>
    <p class="rating">⭐ Рейтинг: {{ movie.rating }}</p>
    <div class="movie-description" >
        <details>
            <summary >
                {{ movie.description|truncatewords:20 }}
                <span>(развернуть...)</span>
            </summary>
            <p >
                {{ movie.description }}
            </p>
        </details>
    </div>

    {% if user.is_superuser %}
    <div>
        <a href="{% url 'movie_update' movie.id %}" >✏️ Редактировать фильм</a>
        <a href="{% url 'movie_delete' movie.id %}" >🗑️ Удалить фильм</a>
    </div>
    {% endif %}

    <div>
        <strong>📅 Расписание сеансов:</strong>
        <ul>
            <!-- перебираем все сеансы конкретно для фильма -->
            {% for s in movie.screening_set.all %}
            <li>
                🕒 {{ s.time|date:"d.m.Y H:i" }} — Зал №{{ s.hall.number }}
                <strong>({{ s.price }} BYN)</strong>

                <!-- кнопки управления сеансом для админа -->
                {% if user.is_superuser %}
                <br>
                <a href="{% url 'screening_update' s.id %}" >Ред. сеанс</a>
                <a href="{% url 'screening_delete' s.id %}">Удалить сеанс</a>
                {% endif %}

                <!-- КУПИТЬ БИЛЕТ (только для залогиненных юзеров, но не админов) -->
                {% if user.is_authenticated and not user.is_superuser %}
                <br>
                <form action="{% url 'add_to_cart' s.id %}" method="post" style="display: inline-block; margin-top: 5px;">
                    {% csrf_token %}
                    <button type="submit" style="background: #27ae60; color: white; border: none; padding: 4px 10px; border-radius: 4px; font-weight: bold; cursor: pointer;">
                        🛒 В корзину
                    </button>
                </form>
                {% endif %}
            </li>
            {% empty %}
            <li>Сеансов пока нет.</li>
            {% endfor %}
        </ul>

        <!-- Кнопка "Добавить сеанс" для админа -->
        {% if user.is_superuser %}
        <a href="{% url 'screening_create' %}?movie_id={{ movie.id }}">
            ➕ Добавить сеанс для фильма
        </a>
        {% endif %}
    </div>

</div>
{% empty %}
<p>Фильмов пока нет.</p>
{% endfor %}

<div class="info-card">
    <h3>🆕 Последняя новость кинотеатра</h3>

    {% if latest_news %}
    <div>
        <h4>{{ latest_news.title }}</h4>
        <p >
            Опубликовано: {{ latest_news.published_date|date:"d.m.Y H:i" }}
        </p>
        <p>{{ latest_news.short_description }}</p>
        <a href="{% url 'news' %}" >
            Читать все новости →
        </a>
    </div>
    {% else %}
    <p >Новостей пока нет.</p>
    {% endif %}
</div>

<div class="info-card" >
    <h3>🕒 Время и Календарь</h3>
    <p>Ваша таймзона: <strong>{{ user_timezone }}</strong></p>
    <p>Локальное время: <strong>{{ current_time_local|date:"d/m/Y H:i" }}</strong></p>
    <p>Время UTC: <strong>{{ current_time_utc }}</strong></p>
    <div class="calendar-table">
        {{ calendar|safe }}
    </div>
</div>


{% endblock %}
