{% extends 'movies/base.html' %}

{% block title %}{{ movie.title }} - CinemaLab{% endblock %}

{% block content %}
<article class="movie-card" itemscope itemtype="http://schema.org/Movie">

    <header>
        <h1 itemprop="name">{{ movie.title }}</h1>
        <p>
            <strong>Страна:</strong> <span itemprop="countryOfOrigin">{{ movie.country }}</span> |
            <strong>Год выпуска:</strong> <time datetime="{{ movie.data|date:'Y' }}">{{ movie.data|date:"Y" }}</time> |
            <strong>Жанр:</strong> <span itemprop="genre">{{ movie.genre.name }}</span>
        </p>
        <p class="rating">⭐ Рейтинг фильма: <strong itemprop="aggregateRating">{{ movie.rating }} / 10</strong></p>
    </header>

    <!-- постер фильма -->
    {% if movie.poster %}
    <figure>
        <picture>
            <!-- источник для больших экранов мониторов (шириной от 768px) -->
            <source media="(min-width: 768px)" srcset="{{ movie.poster.url }}">

            <!-- базовое изображение для мобильных телефонов -->
            <img src="{{ movie.poster.url }}" alt="Постер к фильму {{ movie.title }}" width="250" itemprop="image" loading="lazy">
        </picture>
        <figcaption>Официальный постер к фильму «{{ movie.title }}»</figcaption>
    </figure>
    {% endif %}

    <!-- Описание сюжета -->
    <section>
        <h2>📖 Описание сюжета</h2>
        <p itemprop="description">{{ movie.description }}</p>
        <p><strong>Длительность:</strong> {{ movie.duration }} минут</p>
    </section>

    <!-- список актеров в виде нумерованного списка  -->
    <section>
        <h2> В главных ролях</h2>
        <ol>
            {% for actor in movie.actors.all %}
            <li><span itemprop="actor">{{ actor.name }}</span></li>
            {% empty %}
            <li>Информация об актерском составе уточняется.</li>
            {% endfor %}
        </ol>
    </section>

    <hr>

    <!-- сеансы и добавление в козину -->
    <section>
        <h2>🎟️ Выберите сеанс и добавьте в корзину</h2>

        {% for s in movie.screening_set.all %}
        <div >
            <div>
                <strong>🕒 {{ s.time|date:"d.m.Y H:i" }}</strong> — Зал №{{ s.hall.number }}
                (Цена: <strong>{{ s.price }} BYN</strong>)
            </div>

            {% if user.is_authenticated %}
            <form action="{% url 'add_to_cart' s.id %}" method="post">
                {% csrf_token %}
                <button type="submit" >
                    🛒 Добавить в корзину
                </button>
            </form>
            {% else %}
            <span >
    <a href="{% url 'login' %}" >Войдите</a>, чтобы добавить в корзину
  </span>
            {% endif %}
        </div>
        {% empty %}
        <p>К сожалению, на этот фильм пока нет активных сеансов.</p>
        {% endfor %}
    </section>

    <p >
        <a href="/">← Вернуться к каталогу фильмов</a>
    </p>

</article>
{% endblock %}