{% extends 'movies/base.html' %}

{% block title %}Мои билеты - CinemaLab{% endblock %}

{% block content %}
<div class="movie-card">
  <h1>🎟️ Ваши забронированные билеты</h1>

  {% if tickets %}
  <!-- Блок итоговой суммы -->
  <div>
    <span>Общая стоимость всех заказов:</span><br>
    <strong>{{ total_sum|floatformat:2 }} BYN</strong>
  </div>

  <div>
    <table>
      <thead>
      <tr>
        <th>Фильм</th>
        <th>Дата сеанса</th>
        <th>Место</th>
        <th>Оплачено</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      {% for t in tickets %}
      <tr class="ticket-row">
        <td><strong>{{ t.screening.movie.title }}</strong></td>
        <td>{{ t.screening.time|date:"d.m.Y H:i" }}</td>
        <td>Зал №{{ t.screening.hall.number }}, <span >Место {{ t.seat_number }}</span></td>
        <!-- берем paid_price -->
        <td>
          {{ t.paid_price|floatformat:2 }} BYN
        </td>
        <td>
          <a href="{% url 'cancel_ticket' t.id %}" class="btn-cancel">Отменить</a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div>
    <p>У вас пока нет забронированных билетов.</p>
    <a href="/" >Найти интересный фильм</a>
  </div>
  {% endif %}
</div>

{% endblock %}