{% extends 'movies/base.html' %}

{% block title %}Отзывы - CinemaLab{% endblock %}

{% block content %}
<h1>💬 Отзывы наших зрителей</h1>

{% if user.is_authenticated %}
  <div class="movie-card" >
    <h3>Оставить свой отзыв как {{ user.username }}</h3>
    <form method="post">
      {% csrf_token %}


      <p>Ваша оценка (1-5):</p>
      {{ form.rating }}

      <p>Ваш отзыв:</p>
      {{ form.text }}

      <br>
      <button type="submit">
        Отправить отзыв
      </button>
    </form>
  </div>
{% else %}
<div class="info-card">
  <p>Только зарегистрированные пользователи могут оставлять отзывы.</p>
  <a href="{% url 'login' %}" class="btn">Войти на сайт</a>
</div>
{% endif %}

<hr>

<!-- Список существующих отзывов -->
{% for review in reviews %}
<div class="movie-card">
  <div >
    <strong>{{ review.name }}</strong>
    <span >Оценка: {{ review.rating }}/5 ⭐</span>
  </div>
  {{ review.text|linebreaks }}
  <p ><small >{{ review.created_date|date:"d.m.Y H:i" }}</small></p>
</div>
{% empty %}
<p>Отзывов пока нет. Будьте первым!</p>
{% endfor %}
{% endblock %}