{% extends 'movies/base.html' %}

{% block title %}Регистрация - CinemaLab{% endblock %}

{% block content %}
<section class="movie-card">
    <h1>📝 Регистрация нового зрителя</h1>

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <!-- 2. ВЫВОДИМ ПОЛЯ ЧИСТО И БЕЗ ОШИБОК РАЗМЕТКИ -->
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            {{ field }}

            {% if field.errors %}
            <div>
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" >
            Зарегистрироваться
        </button>
    </form>

    <p>
        Уже есть аккаунт? <a href="{% url 'login' %}">Войти на сайт</a>
    </p>
</section>
{% endblock %}